// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #eff33d;
$orange: #E67E22;
$green: #0aff6f;
$gray: #0E0000;
$light-gray: #a2a3a9;
$dark-blue: #242736;
$white: #f9ffff;
