<div class="container">
  <h1>Created Tactics</h1>
  <%= link_to 'add new tactic', new_tactic_path, class:'btn btn-sm btn-primary' %>
  <div class="row mt-3">
  <ul>
    <% @tactics.each do |tactic| %>
      <li><%= link_to tactic.name, tactic_path(tactic) %></li>
    <% end %>
  </ul>
  </div>
</div>
