<div class="container">
  <h1>Created Tactics</h1>
  <%= link_to 'Add new tactic', new_tactic_path, class:'btn btn-primary' %>
  <% @tactics.each do |tactic| %>
    <%= link_to tactic.name, tactic_path(tactic) %>
  <% end %>
</div>
